<!DOCTYPE html>
<html>
  <head>
    <title>FirstWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% provide(:title, "FirstWeb") %>
    <%= link_to "Home", '#', id: "logo" %>
    <%= yield(:title) %>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
